<div class="jumbotron text-center">
	<h1>Contact Page</h1>
	
	<p>{{ message }}</p>
	<p>ทดสอบการดึงข้อมูลจาก DB :
		<ul ng-repeat="item in itemList">
			<li>{{'รหัสนิสิต : ' + item.Stu_id + ' ชื่อ : ' + item.Stu_name + ' เพศ : ' + item.Stu_gender}}</li>
		</ul>
		<button ng-click="getData()">รับข้อมูล</button>
	</p>
	<p>
		<div>ทดสอบ Cookie</div> 
		<span class="cookie">{{ msgcookie }}</span>
		<button ng-click="setcookie()">setcookie()</button>
		<button ng-click="readcookie()">readcookie()</button>
	</p>
	<p>
		<div>ทดสอบ Session</div>
		<span class="sesssion">{{msgsession}}</span>
		<button ng-click="setsession()">setsession()</button>
		<button ng-click="readsession()">readsession()</button>
		<button ng-click="clearsession()">clearsession()</button>
	</p>
	<button ng-click="go('/')">กลับสู่หน้าหลัก</button>
</div>